.info {
  border: 1px solid black;
  margin: 30px;
  border-collapse: collapse;
}

.info td {
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px; 
  padding-bottom: 5px;
}

.info th {
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px; 
  padding-bottom: 5px;
}

.more {
  margin-left: 30px;
}

.more tr {
  margin-bottom: 15px;
}

.search {
  width: 300px;
}

